.obsidian-main-container {
	padding-left: 10px;
	align-items: flex-start;
}

.obsidian-main {
	width: 578px;
	height: 100%;
	min-height: 660px;
	padding: 12px 8px;
}

.obsidian-tab-bar {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.obsidian-tab-container .obsidian-tab-bar {
	justify-content: flex-start;
}

.obsidian-tab,
.obsidian-sub-tab {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: var(--text-secondary);
	cursor: pointer;
	text-transform: uppercase;
	line-height: 1.4;
}

.obsidian-sub-tab {
	line-height: 1;
	font-size: 12px;
	border-radius: 3px;
	margin: 3px 2px;
	padding: 5px 7px;
	border: 1px solid var(--mid);
}

.obsidian-tab:hover {
	color: var(--text-regular);
}

.obsidian-sub-tab:hover,
.obsidian-sub-tab.active {
	color: var(--bg);
	background-color: var(--mid);
}

.obsidian-tab.active {
	color: var(--text-regular);
	border-bottom: 3px solid var(--highlight);
}

.obsidian-tab-container .obsidian-tab-bar {
	padding: 0 5px;
}

.obsidian-tab-contents {
	overflow: auto;
	padding: 0 5px;
	text-align: left;
}

.tab[data-tab].active.obsidian-tab-contents {
	display: block;
}

.obsidian-tab-contents h3 {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: var(--text-secondary);
	border-bottom: 1px solid var(--mid);
	line-height: 1.4;
	padding-left: 2px;
}

.obsidian-tab-contents h3 i {
	margin-left: 5px;
}

.obsidian-thead,
.obsidian-tr {
	display: flex;
}

.obsidian-thead {
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	padding: 5px 0;
}

.obsidian-tr {
	font-weight: normal;
	align-items: center;
	border-bottom: 1px dotted var(--mid);
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.obsidian-tr:last-child {
	border: none;
	padding: 0;
	margin: 0;
}

.obsidian-col-icon {
	width: 27px;
}

.obsidian-col-icon a {
	font-size: 14px;
}

.obsidian-col-attack {
	width: 140px;
}

.obsidian-col-range,
.obsidian-col-hit {
	width: 55px;
}

.obsidian-col-damage {
	width: 80px;
}

.obsidian-col-notes {
	flex: 1;
}

.obsidian-col-empty {
	text-align: center;
	color: var(--text-subtle);
	flex: 1;
}

.obsidian-table-text,
.obsidian-table-sub-text,
.obsidian-table-note-text {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
}

.obsidian-table-text {
	font-size: 14px;
}

.obsidian-table-sub-text,
.obsidian-table-unit {
	font-size: 10px;
	color: var(--text-subtle);
}

.obsidian-table-number-md,
.obsidian-table-number-lg {
	font-weight: bold;
}

.obsidian-table-number-md {
	font-size: 14px;
}

.obsidian-table-number-lg {
	font-size: 16px;
}

.obsidian-tooltip {
	display: none;
}

.obsidian-attack-toggle {
	cursor: pointer;
}

.obsidian-icon {
	width: 20px;
	height: 20px;
	background: 50% transparent no-repeat;
	background-size: 20px 20px;
}

.obsidian-icon-melee {
	background-image: url('../img/melee.svg');
}

.obsidian-icon-ranged {
	background-image: url('../img/ranged.svg');
}

.obsidian-icon-unarmed {
	background-image: url('../img/unarmed.svg');
}

.obsidian-icon-versatile {
	background-image: url('../img/versatile.svg');
}
