.obsidian-main-container {
	padding-left: 10px;
	align-items: flex-start;
}

.obsidian-main {
	width: 578px;
	height: 100%;
	min-height: 660px;
	padding: 12px 8px;
	overflow: hidden;
}

.obsidian-tab-bar {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.obsidian-tab-container .obsidian-tab-bar {
	justify-content: flex-start;
}

.obsidian-tab,
.obsidian-sub-tab {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: var(--text-secondary);
	cursor: pointer;
	text-transform: uppercase;
	line-height: 1.4;
}

.obsidian-sub-tab {
	line-height: 1;
	font-size: 12px;
	border-radius: 3px;
	margin: 3px 2px;
	padding: 5px 7px;
	border: 1px solid var(--mid);
}

.obsidian-tab:hover {
	color: var(--text-regular);
}

.obsidian-sub-tab:hover,
.obsidian-sub-tab.active {
	color: var(--bg);
	background-color: var(--mid);
}

.obsidian-tab.active {
	color: var(--text-regular);
	border-bottom: 3px solid var(--highlight);
}

.obsidian-tab-container .obsidian-tab-bar {
	padding: 0 5px;
}

.dnd5e.sheet form .tab.obsidian-tab-contents {
	overflow-y: auto;
	padding: 0 5px;
	text-align: left;
	height: 100%;
	scrollbar-color: transparent rgba(0, 0, 0, .75);
}

.obsidian-tab-contents::-webkit-scrollbar {
	height: 6px;
}

.obsidian-tab-contents::-webkit-scrollbar-track {
	box-shadow: none;
}

.obsidian-tab-contents::-webkit-scrollbar-thumb {
	border: none;
	background: rgba(0, 0, 0, .75);
}

.tab[data-tab].active.obsidian-tab-contents {
	display: block;
}

.obsidian-tab-contents h3 {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: var(--text-secondary);
	border-bottom: 1px solid var(--mid);
	line-height: 1.4;
	padding-left: 2px;
}

.obsidian-tab-contents h3 i {
	margin-left: 5px;
}

.obsidian-thead,
.obsidian-tr {
	display: flex;
}

.obsidian-thead {
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	padding: 5px 0;
}

.obsidian-tr {
	font-weight: normal;
	align-items: center;
	border-bottom: 1px dotted var(--mid);
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.obsidian-tr:last-child {
	border: none;
	padding: 0;
	margin: 0;
}

.obsidian-col-icon {
	width: 27px;
}

.obsidian-col-icon a {
	font-size: 14px;
}

.obsidian-col-attack {
	width: 140px;
}

.obsidian-col-range,
.obsidian-col-hit {
	width: 55px;
}

.obsidian-col-damage {
	width: 80px;
}

.obsidian-col-notes {
	flex: 1;
}

.obsidian-col-empty {
	text-align: center;
	color: var(--text-subtle);
	flex: 1;
}

.obsidian-table-text,
.obsidian-table-sub-text,
.obsidian-table-note-text {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
}

.obsidian-table-text {
	font-size: 14px;
}

.obsidian-table-sub-text,
.obsidian-table-unit {
	font-size: 10px;
	color: var(--text-subtle);
}

.obsidian-table-number-md,
.obsidian-table-number-lg {
	font-weight: bold;
}

.obsidian-table-number-md {
	font-size: 14px;
}

.obsidian-table-number-lg {
	font-size: 16px;
}

.obsidian-tooltip {
	display: none;
}

.obsidian-attack-toggle {
	cursor: pointer;
}

.obsidian-icon {
	width: 20px;
	height: 20px;
	background: 50% transparent no-repeat;
	background-size: 20px 20px;
}

.obsidian-icon-sm {
	width: 16px;
	height: 16px;
	background: 50% transparent no-repeat;
	background-size: 16px 16px;
	margin-left: 5px;
}

.obsidian-icon-melee {
	background-image: url('../img/melee.svg');
}

.obsidian-icon-ranged {
	background-image: url('../img/ranged.svg');
}

.obsidian-icon-unarmed {
	background-image: url('../img/unarmed.svg');
}

.obsidian-icon-versatile {
	background-image: url('../img/versatile.svg');
}

.obsidian-icon-blg {
	background-image: url('../img/bludgeoning.svg');
}

.obsidian-icon-prc {
	background-image: url('../img/piercing.svg');
}

.obsidian-icon-slh {
	background-image: url('../img/slashing.svg');
}

.obsidian-icon-acd {
	background-image: url('../img/acid.svg');
}

.obsidian-icon-cld {
	background-image: url('../img/cold.svg');
}

.obsidian-icon-fir {
	background-image: url('../img/fire.svg');
}

.obsidian-icon-frc {
	background-image: url('../img/force.svg');
}

.obsidian-icon-lig {
	background-image: url('../img/lightning.svg');
}

.obsidian-icon-ncr {
	background-image: url('../img/necrotic.svg');
}

.obsidian-icon-psn {
	background-image: url('../img/poison.svg');
}

.obsidian-icon-psy {
	background-image: url('../img/psychic.svg');
}

.obsidian-icon-rad {
	background-image: url('../img/radiant.svg');
}

.obsidian-icon-thn {
	background-image: url('../img/thunder.svg');
}

.obsidian fieldset {
	border: 1px solid var(--mid);
	margin-bottom: 10px;
}

.obsidian fieldset:last-child {
	margin: 0;
}

.obsidian fieldset .obsidian-form-row:last-child {
	margin-bottom: 0;
}

.obsidian legend,
.obsidian legend .checkbox-content {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-size: 16px;
	color: var(--text-secondary);
	padding: 0 8px;
}

.obsidian legend .checkbox-content {
	padding: 0;
	text-transform: none;
	font-weight: normal;
}

.obsidian-btn-row {
	margin-top: 4px;
}

.obsidian-dmg-component {
	font-size: 13px;
	line-height: 1;
	display: flex;
	align-items: center;
}

.obsidian-table-note-text,
.obsidian-table-note-text:after {
	font-size: 12px;
	color: var(--text-subtle);
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	display: inline;
}

.obsidian-table-note-text:after {
	content: ', ';
}

.obsidian-table-note-text:last-child:after {
	content: '';
}

.obsidian-table-number-split {
	font-weight: normal;
	color: var(--text-secondary);
}

.obsidian-table-number-minor {
	font-weight: normal;
	color: var(--text-subtle);
	font-size: 13px;
}

.obsidian-feature {
	margin-bottom: 13px;
}

.obsidian-feature-header {
	font-size: 13px;
	line-height: 1.2;
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	display: flex;
	height: 15px;
}

.obsidian-feature-header h4 {
	font-weight: bold;
}

.obsidian-feature-header i {
	margin-left: 8px;
}

.obsidian-feature-body {
	font-size: 12px;
	font-family: Roboto, sans-serif;
	font-weight: normal;
}

.obsidian-feature-recharge {
	margin-left: 3px;
	font-weight: normal;
	color: var(--text-subtle);
}

.obsidian .mce-btn-group .mce-btn,
.obsidian .mce-btn-group .mce-btn:active,
.obsidian .mce-btn-group .mce-btn:focus,
.obsidian .mce-btn-group .mce-btn.mce-active {
	color: var(--text-regular);
	background: transparent;
}

.obsidian .mce-menubtn button {
	color: var(--text-regular);
}

.app .obsidian .mce-btn .mce-ico {
	color: var(--text-secondary);
}

.obsidian .mce-btn-has-text.mce-last {
	display: none;
}

.app .obsidian .mce-top-part {
	border-bottom: 1px solid var(--mid);
}
