<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.Bonus'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<input type="text" class="obsidian-input-compact" name="{{prefix}}.name" value="{{name}}"
			       placeholder="{{localize 'OBSIDIAN.RollName'}}">
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.ndice" value="{{ndice}}">
			<select name="{{prefix}}.die" data-dtype="Number">
				{{#select die}}
					{{#each @root.ObsidianRules.DAMAGE_DICE}}
						<option value="{{this}}">d{{this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.bonus" value="{{bonus}}">
			<span class="obsidian-binary-operator">&plus;</span>
			<select name="{{prefix}}.prof">
				{{#select prof}}
					<option value="">&mdash;</option>
					{{#each @root.ObsidianRules.PLUS_PROF}}
						<option value="{{@key}}">{{i18n-join 'OBSIDIAN.PlusProf-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<span class="obsidian-binary-operator">&plus;</span>
			<select name="{{prefix}}.ability">
				{{#select ability}}
					<option value="">&mdash;</option>
					{{#each @root.ObsidianRules.ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<select name="{{prefix}}.level" data-selector="{{prefix}}.level">
				{{#select level}}
					<option value="">&mdash;</option>
					{{#each @root.ObsidianRules.EFFECT_BONUS_LEVEL}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.UsesKey-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			{{#if @root.actor}}
				<select name="{{prefix}}.class" data-selector-parent="{{prefix}}.level" data-show="cls">
					{{#select class}}
						{{#each @root.actor.data.obsidian.classes}}
							<option value="{{_id}}">{{flags.obsidian.label}}</option>
						{{/each}}
					{{/select}}
				</select>
			{{else}}
				<input type="text" class="obsidian-input-compact" name="{{prefix}}.text" value="{{text}}"
				       placeholder="{{localize 'OBSIDIAN.Class'}}" data-selector-parent="{{prefix}}.level"
				       data-show="cls">
			{{/if}}
		</div>
	</div>
</fieldset>
