<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.MultiplyScore'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       data-dtype="Number" name="{{prefix}}.multiplier" value="{{multiplier}}"
				       placeholder="1">
				<span>{{localize 'OBSIDIAN.Multiplier'}}</span>
			</label>
		</div>
	</div>
</fieldset>
