<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.ScalingTitle'}}</legend>
  <div class="obsidian-form-row">
	  <div>
		  <label>
			  {{localize 'OBSIDIAN.Effect'}}
			  <select name="{{prefix}}.ref">
				  {{#select ref}}
					  {{#each @root.item.flags.obsidian.effects}}
						  <option value="{{uuid}}">{{effect-label this}}</option>
					  {{/each}}
				  {{/select}}
			  </select>
		  </label>
	    <label>
	      {{localize 'OBSIDIAN.Method'}}
	      <select name="{{prefix}}.method" data-selector="{{prefix}}.method">
		      {{selectOptions @root.ObsidianLabels.Scaling selected=method}}
	      </select>
	    </label>
		  {{> select-class parent='method' show='class'}}
	  </div>
  </div>
	<div class="obsidian-form-row obsidian-stacked-row" data-selector-parent="{{prefix}}.method"
	     data-hide="cantrip">
		<div>
			<label>
				{{localize 'OBSIDIAN.Threshold'}}
				<input type="text" class="obsidian-input-num-sm" name="{{prefix}}.threshold"
				       value="{{threshold}}" placeholder="&mdash;" data-dtype="Number">
			</label>
		</div>
	</div>
</fieldset>
