<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.ProvidesSpells'}}</legend>
	<div class="obsidian-form-row">
		<div>
			<label>
				{{localize 'OBSIDIAN.Source'}}
				<select name="{{prefix}}.source" data-selector="{{prefix}}.source">
					{{selectOptions @root.ObsidianLabels.AddSpellsSource selected=source}}
				</select>
			</label>
			<select name="{{prefix}}.list" data-selector-parent="{{prefix}}.source" data-show="list">
				{{#select list}}
					{{#each @root.spellLists}}
						<option value="{{this}}">
							{{#if (and (includes @root.ObsidianConfig.CLASSES this) (not (eq this 'custom')))}}
								{{obs-i18n 'Class' this}}
							{{else}}
								{{this}}
							{{/if}}
						</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row" data-selector-parent="{{prefix}}.source"
	     data-show="individual">
		<div>
			<select name="{{prefix}}.method" data-selector="{{prefix}}.method">
				{{selectOptions @root.ObsidianLabels.AddSpellsMethod selected=method}}
			</select>
			{{> select-class parent='method' hide='innate, item'}}
			{{fancy-checkbox prefix 'noSlot' content='OBSIDIAN.CastWithoutSlot' checked=noSlot
			                 selectorParent=(add prefix '.method') show='known, prep'}}
			<select name="{{prefix}}.ability" data-selector-parent="{{prefix}}.method" data-show="innate">
				{{selectOptions @root.ObsidianLabels.Ability selected=ability}}
			</select>
			{{fancy-checkbox (add prefix '.upcast') content='OBSIDIAN.CastAtHigherLevel' checked=upcast
											 selectorParent=(add prefix '.method') show='innate, item'
											 selector=(add prefix '.upcast')}}
			<select name="{{prefix}}.level" data-dtype="Number" data-selector-parent="{{prefix}}.upcast"
			        style="margin-left: 10px;">
				{{#select level}}
					{{#each (range 1 9)}}
						<option value="{{this}}">
							{{#if (eq this 1)}}
								{{localize 'OBSIDIAN.FirstN'}}
							{{else if (eq this 2)}}
								{{localize 'OBSIDIAN.SecondN'}}
							{{else if (eq this 3)}}
								{{localize 'OBSIDIAN.ThirdN'}}
							{{else}}
								{{this}}{{localize 'OBSIDIAN.th'}}
							{{/if}}
						</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
	<div class="obsidian-item-drop obsidian-spell-drop{{#unless spells.length}} obsidian-empty{{/unless}}"
	     data-selector-parent="{{prefix}}.source" data-show="individual">
		{{#unless spells.length}}
			<div class="obsidian-item-drop-empty">{{localize 'OBSIDIAN.DropSpellsHere'}}</div>
		{{/unless}}
		{{#each spells}}
			<div class="obsidian-item-drop-pill" data-id="{{_id}}">
				<div class="obsidian-item-drop-pill-body obsidian-provide-spell-body">
					<div class="obsidian-icon obsidian-icon-school-{{data.school}}"></div>
					{{name}}
				</div>
				<div class="obsidian-item-drop-pill-rm obsidian-rm-provide-spell">&times;</div>
			</div>
		{{/each}}
	</div>
</fieldset>
