<fieldset {{disabled (expr '!' enabled)}}>
	<legend>
		{{fancy-checkbox 'flags.obsidian.hit.enabled' content='OBSIDIAN.Hit' checked=enabled}}
	</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		{{#if spell}}
		<select name="flags.obsidian.hit.attack">
			{{#select attack}}
				<option value="melee">{{localize 'OBSIDIAN.AttackType-melee'}}</option>
				<option value="ranged">{{localize 'OBSIDIAN.AttackType-ranged'}}</option>
				<option value="unerring">{{localize 'OBSIDIAN.AttackType-unerring'}}</option>
			{{/select}}
		</select>
		<label class="obsidian-inline">
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       name="flags.obsidian.hit.n" placeholder="1" value="{{n}}">
			<span>{{localize 'OBSIDIAN.Count'}}</span>
		</label>
		{{/if}}
		{{#if (expr '||' (expr '!' spell) (expr '&&' spell actor))}}
		<div class="obsidian-checkbox-row">
			<select name="flags.obsidian.hit.stat">
				{{#select stat}}
					{{#if spell}}<option value="spell">{{localize 'OBSIDIAN.Spell'}}</option>{{/if}}
					{{#each ObsidianRules.ABILITIES}}
						<option value="{{@key}}">{{i18n-join 'OBSIDIAN.Ability-' @key}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator">&plus;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" name="flags.obsidian.hit.bonus" placeholder="0" value="{{bonus}}">
			<label class="obsidian-inline">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="flags.obsidian.hit.crit" placeholder="20" value="{{crit}}">
				<span>{{localize 'OBSIDIAN.Crit'}}</span>
			</label>
			{{#unless spell}}
				{{fancy-checkbox 'flags.obsidian.hit.proficient' content='OBSIDIAN.Proficiency-prof'
				                 checked=proficient}}
			{{/unless}}
		</div>
		{{/if}}
	</div>
</fieldset>
