{{#each this}}
	<div class="obsidian-tr item" data-item-id="{{id}}" data-reorderable="true">
		<div class="obsidian-col-action">
			{{#if flags.obsidian.equippable}}
				<button type="button" class="{{#if data.equipped.value}}obsidian-btn-active{{/if}}
				        obsidian-btn-outline obsidian-equip-action">
					{{#if data.equipped.value}}
						{{localize 'OBSIDIAN.Unequip'}}
					{{else}}
						{{localize 'OBSIDIAN.Equip'}}
					{{/if}}
				</button>
			{{else if flags.obsidian.consumable}}
				<button type="button" class="obsidian-btn-outline obsidian-equip-action">
					{{localize 'OBSIDIAN.Use'}}
				</button>
			{{else}}
				&mdash;
			{{/if}}
		</div>
		<div class="obsidian-col-inv-item">
			<div class="obsidian-table-text">{{name}}</div>
			<div class="obsidian-table-sub-text">
				{{#if (expr '===' type 'weapon')}}
					{{#if (expr '===' flags.obsidian.type 'melee')}}
						{{localize 'OBSIDIAN.MeleeWeapon'}}
					{{else if (expr '===' flags.obsidian.type 'ranged')}}
						{{localize 'OBSIDIAN.RangedWeapon'}}
					{{/if}}
				{{else if (expr '===' type 'equipment')}}
					{{#if (expr '===' flags.obsidian.subtype 'armour')}}
						{{i18n-join 'OBSIDIAN.ArmourTypeFull-' data.armorType.value}}
					{{/if}}
				{{else if (expr '===' type 'consumable')}}
					{{i18n-join 'OBSIDIAN.ConsumableType-' flags.obsidian.subtype}}
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-weight">
			<div class="obsidian-table-number-md">
				{{#if data.weight.value}}
					{{data.weight.value}}
					<span class="obsidian-table-unit">{{localize 'OBSIDIAN.PoundsAbbr'}}</span>
				{{else}}
					&mdash;
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-qty">
			<input type="text" class="obsidian-table-input" name="items.{{idx}}.data.quantity.value"
			       data-dtype="Number" placeholder="1" value="{{data.quantity.value}}">
		</div>
		<div class="obsidian-col-cost">
			<div class="obsidian-table-number-md">
				{{#if data.price.value}}
					{{number-format data.price.value}}
				{{else}}
					&mdash;
				{{/if}}
			</div>
		</div>
		<div class="obsidian-col-type">
			<div class="obsidian-icon obsidian-icon-
				{{~#if (expr '===' type 'equipment')~}}
					{{~flags.obsidian.subtype~}}
				{{~else~}}
					{{~type~}}
				{{~/if~}}
			" title="
				{{~#if (expr '===' type 'equipment')~}}
					{{i18n-join 'OBSIDIAN.ItemType-' flags.obsidian.subtype}}
				{{~else~}}
					{{i18n-join 'OBSIDIAN.ItemType-' type}}
				{{~/if~}}
			"></div>
		</div>
		<div class="obsidian-col-notes">
			{{#if (expr '===' type 'weapon')}}
				{{> public/modules/obsidian/html/components/weapon-notes.html category=true}}
			{{else if (expr '||' (expr '===' type 'equipment') (expr '===' type 'consumable'))}}
				{{#each flags.obsidian.notes}}
					<div class="obsidian-table-note-text">
						{{{this}}}
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>
{{/each}}
