{{#if flags.obsidian.charges.enabled}}
	<div class="obsidian-table-note-text">
		<div class="obsidian-table-note-flex">
			{{~localize 'OBSIDIAN.Charges'}}: {{{flags.obsidian.charges.display}}}</div>
	</div>
{{/if}}
{{#each flags.obsidian.special}}
	<div class="obsidian-table-note-text">{{name}}: {{{display}}}</div>
{{/each}}
{{#if category}}
	<div class="obsidian-table-note-text">
		{{~i18n-join 'OBSIDIAN.WeaponCat-' flags.obsidian.category~}}
	</div>
{{/if}}
{{#each flags.obsidian.tags}}
	<div class="obsidian-table-note-text">
		{{~#if custom~}}
			{{~label~}}
		{{~else~}}
			{{~#if (eq @key 'ammunition')~}}
				{{{../flags.obsidian.ammo.display}}}
			{{~else~}}
				{{{i18n-join 'OBSIDIAN.AtkTag-' @key}}}
			{{~/if~}}
		{{~/if~}}
	</div>
{{/each}}
