{{#if flags.obsidian.notes}}
	{{#each flags.obsidian.notes}}
		<div class="obsidian-table-note-text">{{{this}}}</div>
	{{/each}}
{{/if}}
{{#if flags.obsidian.category}}
	<div class="obsidian-table-note-text">
		{{~i18n-join 'OBSIDIAN.WeaponCat-' flags.obsidian.category~}}
	</div>
{{/if}}
{{#each flags.obsidian.tags}}
	{{~#if (and this (eq @key 'ammunition'))~}}
		<div class="obsidian-table-note-text">{{{../flags.obsidian.ammo.display}}}</div>
	{{~else if (and this (eq @key 'custom'))~}}
		<div class="obsidian-table-note-text">{{this}}</div>
	{{~else if this~}}
		<div class="obsidian-table-note-text">{{{i18n-join 'OBSIDIAN.AtkTag-' @key}}}</div>
	{{~/if~}}
{{/each}}
